/* -------------------------- */
/*      - LANDING PAGE -
/* -------------------------- */

// Main Landing Page Wrapper
.landing-wrapper {
    padding-top: 6rem;
}

// -- HEADER - \\
.landing-header {
    position: relative;
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba($color-black, .45), rgba($color-black, .75)), url(../img/landing-header-1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
// Header content
.lh-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: $bp-small) { margin: 0 2rem; text-align: center; }

    // Heading 1
    &__heading-1 {
        color: $color-white;
        font-weight: 500;
        font-size: 5rem;
        letter-spacing: .15rem;
        text-align: center;
        @media only screen and (max-width: $bp-small) { font-size: 4rem; }
    }
    // Heading 2
    &__heading-2 {
        color: $color-white;
        font-weight: 300;
        font-size: 1.5rem;
        letter-spacing: .2rem;
        margin: 2rem 0 1rem 0;
    }
    // Button
    &__button {
        margin-top: 3rem;
        i { margin-left: .8rem; }
        & i {
            margin-left: .3rem;
            transition: margin-left .2s;
        }
    }
}

// -- INTRO - \\
.l-intro {
    position: relative;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.l-intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    // Heading 1
    &__heading-1 {
        color: $color-gray-dark-5;
        font-size: 3rem;
        font-weight: 600;
        padding-bottom: .7rem;
    }
    // Heading 2
    &__heading-2 {
        color: $color-gray-dark-2;
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: .1rem;
        padding-bottom: 2.5rem;
        // -- MEDIA QUERIE -- \\
        @media only screen and (max-width: $bp-small) { text-align: center; }
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        > a { margin: 0 1rem; }
    }
}

// -- SERVICES - \\
.l-services {
    display: flex;
    flex-direction: column;
    margin: 7rem 8rem 0 8rem;
    @media only screen and (max-width: $bp-desktop) { margin: 8rem 1rem 0 1rem; }

    // Heading
    &__heading {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: .15rem;
        //margin-left: 10.5rem;
    }
    // Sub Heading
    &__sub-heading {
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;
        //margin-left: 10.5rem;
        padding-top: .5rem;
        @include underline;
    }
}

// -- SIMPLE AS - \\
.l-simple-as {
    display: flex;
    background-image: linear-gradient(73.47867661039811deg, rgba(198, 153, 99,.50) 35.149739583333336%,rgba(197, 152, 98,.50) 35.149739583333336%,rgba(155, 111, 57,.55) 89.05598958333331%), url(../img/bk-2.png);
    position: relative;
    flex-direction: row;
    justify-content: center;
    min-height: 30vh;
    margin-top: 10rem;
    //opacity: 0.9;
}
.l-simple-as-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    // Text
    &__text {
        color: $color-white;
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: .15rem;
        // -- MEDIA QUERIE -- \\
        @media only screen and (max-width: $bp-small) { font-size: 4rem; text-align: center; }
    }
}

// -- PARTNERS - \\
.l-partners {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 18vh;
    margin-top: 2rem;
}
.l-partners-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    // -- MEDIA QUERIE -- \\
    @media only screen and (max-width: $bp-small) { flex-direction: column; }

    img { 
        filter: grayscale(100%); 
        margin: 0 5rem; 
        transition: all .2s ease-in-out;
        cursor: pointer;
        &:hover { filter: grayscale(0%); }
        // -- MEDIA QUERIE -- \\
        @media only screen and (max-width: $bp-small) { margin: 3rem 5rem; }
    }
    &__img-1 { width: 15rem; height: 5rem; }
    &__img-2 { width: 10rem; height: 10rem; }
    &__img-3 { width: 10rem; height: 10rem; }
    &__img-4 { width: 15rem; height: 5rem; }
}