/* -------------------------- */
/*    - USER SETTINGS PAGE -
/* -------------------------- */

// Main page wrapper
.user-settings {
    position: relative;
    min-height: 70vh;
    @media only screen and (max-width: $bp-largest-5) { min-height: 40vh; }
}

// Content wrapper
.settings-content {
    margin: 3rem 50rem;
    // ** -- MEDIA QUERIES -- ** \\
    @media only screen and (max-width: $bp-desktop) { margin: 3rem 40rem; }
    @media only screen and (max-width: $bp-largest-5) { margin: 5rem 20rem; }
    @media only screen and (max-width: $bp-small) { margin: 10rem 5rem; }
    // Heading
    &__heading {
        font-size: 3.6rem;
        color: $color-black;
        text-align: center;
    }
}   