// * --------------------- * \\
//       - USER PAGE -
// * --------------------- * \\

// User Header
.user-header {
    position: relative;
    height: 120vh;
    // Images wrapper (User profile image and background)
    &__images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
// User Background Image
.user-background-img {
    position: relative;
    width: 100%;
    height: 100%;
    // Background Image
    &__image {
        width: 1920px;
        height: 650px;
        // * -- MEDIA QUERIES -- * \\
        @media only screen and (max-width: $bp-desktop) { width: 1500px;  height: 490px; }
        @media only screen and (max-width: $bp-small) { width: 400px; height: 250px; }
    }
    // Camera Icon | For changing background image
    &__cam-icon {
        position: absolute;
        top: 5%;
        left: 95%;
        font-size: 3.5rem;
        color: $color-white;
        cursor: pointer;
        // On hover
        &:hover {
            color: $color-black;
            background-color: rgba($color-white, .50);
            padding: .5rem 5rem;
            left: 90%;
        }
    }
}
// User Profile Image
.user-image {
    position: relative;
    margin-top: -25vh;
    // * -- MEDIA QUERIES -- * \\
    @media only screen and (max-width: $bp-small) { margin-top: -15vh; }
    // Profile Image
    &__image {
        height: 25rem;
        width: 25rem;  
        border-radius: 50%;
        cursor: pointer;
        // * -- MEDIA QUERIES -- * \\
        @media only screen and (max-width: $bp-small) { height: 18rem; width: 18rem; }
    }
    // Hidden Form
    &__hidden-form-1 {
        padding: 12rem 3rem;
        position: absolute;
        z-index: 100;
        visibility: hidden;
    }
}

// User Content
.user-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // Username
    &__username {
        font-size: 5rem;
        font-weight: 500;
        margin-top: 3rem;
    }
    // Short Bio
    &__bio-short {
        font-size: 1.5rem;
    }
}

// Helper Classes
.edit-user-image {
    opacity: .7;
}
.iconUnvisible, .iconVisible {
    position: absolute;
    top: 30%;
    left: 39%;
}
.iconUnvisible {
    display: none;
}
.iconVisible {
    display: flex;
    font-size: 7rem;
    color: $color-white;
    cursor: pointer;
}