// * --------------------- * \\
//        - BUTTONS -
// * --------------------- * \\

// * ---- SHOP BUTTON ---- * \\
.btn-1 {
    display: inline;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Raleway';
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $color-white;
    padding: .6rem;
    margin-bottom: 1rem;
    border: .2rem solid $color-primary;
    background-color: $color-primary;
    transition: all .2s ease-in-out;
    outline: none;
    cursor: pointer;
    // On Hover
    &:hover {
        background-color: $color-primary-light;
        border: .2rem solid $color-primary-light;
    }
}

// * ---- HEADER BUTTON ---- * \\
.btn-main {
    display: inline;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: .05rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.4rem;
    background-color: $color-primary;
    transition: all .2s ease-in-out;
    // On hover
    &:hover {
        background-color: $color-primary-light;
        i { margin-left: .8rem; }
    }
}

// * ---- SIGN UP & LOG IN BUTTON'S ---- * \\
.btn-signup,
.btn-login,
.btn-signup-2 {
    display: inline;
    border-radius: 10rem;
    font-size: 1.6rem;
    font-weight: 500;
    padding: .9rem;
    text-decoration: none;
    text-align: center;
    width: 30%;
    cursor: pointer;
}

// * ---- LOG IN BUTTON ---- * \\
.btn-login {
    border: none;
    background-color: $color-primary;
    color: $color-white;
    transition: all .1s ease-in-out;
    // On Hover
    &:hover { background-color: $color-primary-light; }
}
// * ---- SIGN UP BUTTON ---- * \\
.btn-signup {
    border: .1rem solid $color-primary;
    color: $color-gray-dark-1;
    transition: all .2s ease-in-out;
    // On Hover
    &:hover { background-color: $color-primary; color: $color-white; }
}
// * ---- SIGN UP BUTTON | #2 ---- * \\
.btn-signup-2 {
    border: .1rem solid $color-primary;
    color: $color-white;
    transition: all .2s ease-in-out;
    // On Hover
    &:hover { background-color: $color-primary; color: $color-white; }
}