/* -------------------------- */
/*      - SERVICE BOX -
/* -------------------------- */

// Service boxes wrapper
.service-boxes {
    display: flex;
    flex-direction: row;
    margin: 1rem 6rem;
    @media only screen and (max-width: $bp-small) { flex-direction: column; }
}

// Service Box
.service-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
    margin-top: 2.5rem;
    width: 100%;

    // Icon
    &__icon {
        font-size: 6rem;
        color: $color-primary-light;
    }
    // Heading
    &__heading {
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: .5rem;
    }
    // Text 
    &__text {
        font-size: 1.4rem;
        font-weight: 300;
        text-align: center;
    }
}