// * --------------------- * \\
//  - LANDING PAGE WRAPPER -
// * --------------------- * \\
// - Main Landing Page Wrapper - \\
.landing-wrapper {
    padding-top: 6rem;
}

// * ----------------------------------------------------- * \\
//  - NEW WRAPPER | For Navigation Adaptation | WRAPPER -
// * ----------------------------------------------------- * \\
// - New Wrapper | Content aside of the side-nav - \\
.new-wrapper {
    position: absolute;
    left: 50px;
    top: 7.3rem;
    width: calc(100% - 50px);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
    padding: 15rem 4rem 0 5rem;
    @media only screen and (max-width: $bp-small) { padding: 15rem 0 0 0; margin-left: -2rem; }
    @media only screen and (max-width: $bp-vsmall-4) { margin-left: 5rem; }
}

// * --------------------- * \\
//  - STANDARD WRAPPER -
// * --------------------- * \\
// - Standard Wrapper | Content aside of the side-nav - \\
.standard-wrapper {
    position: absolute;
    left: 0px;
    width: calc(100% - 0px);
    transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
    padding: 6rem 0rem 0rem 0rem;
}

// * ---------------------------- * \\
//  - STANDARD (NO-IMG) WRAPPER -
// * ---------------------------- * \\
// - Standard Wrapper for content with no images - \\
.standard-text-wrapper {
    position: absolute;
    left: 0px;
    width: calc(100% - 0px);
    transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
    padding: 6rem 0rem 0 5rem;
}