<!DOCTYPE html>
<html lang="en" class="openNav">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <title>Log In - Comicbook</title>
</head>
<body>

    <!-- IMPLEMENTING NAVIGATION -->
    <% include ../partials/navigation.ejs %>

    <div class="standard-wrapper">
        <header class="user-header">
            <div class="user-header__images">
                <div class="user-background-img">
                    <img data-lazy="../../img/bk-4.png" class="user-background-img__image">
                </div>
                <div class="user-image">
                    <div class="user-image-wrap__circle-1-b"></div>
                    <div class="user-image-wrap__circle-2-b"></div>
                    <img data-lazy="../../img/user-1.jpg" class="user-image__image">
                </div>
            </div>
            <div class="user-content">
                <h2 class="user-content__username"><%= currentUser.username %></h2>
            </div>
        </header>

        <!-- IMPLEMENTING FOOTER -->
        <% include ../partials/footer.ejs %>
    </div>

</body>
</html>