<!DOCTYPE html>
<html lang="en" class="openNav">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <title>Comic Book</title>
</head>
<body>

    <!-- IMPLEMETING MINI NAVIGATION | TOP ONLY -->
    <% include ../partials/miniNavigation.ejs %>

    <div class="landing-wrapper">
        <!-- HEADER | START -->
        <header class="landing-header">
            <div class="lh-content">
                <h1 class="lh-content__heading-1">Dive into the infinite <br>universe of comic books.</h1>
                <h2 class="lh-content__heading-2">Marvel, DC, Dark Horse and more are waiting for you!</h2>
                <a href="#" class="btn-main lh-content__button">Start Exploring Now <i class="icon ion-ios-arrow-forward"></i></a>
            </div>
        </header>
        <!-- HEADER | END -->

        <!-- INTRO SECTION | START -->
        <section class="l-intro">
            <div class="l-intro-content"> <!-- Renders HTML which depends on user log status -->
                <% if (!currentUser) { %> 
                    <h2 class="l-intro-content__heading-1">Looking forward to read?</h2>
                    <h3 class="l-intro-content__heading-2">Log in or Sign up to preview, buy and read favorite comics!</h3>
                    <div class="l-intro-content__buttons">
                        <a href="/login" class="btn btn-login">Log in</a>
                        <a href="/signup" class="btn btn-signup">Sign Up</a>
                    </div>
                <% } else { %>
                    <h2 class="l-intro-content__heading-1">Welcome back <%= currentUser.username %></h2>
                    <h3 class="l-intro-content__heading-2">Ready to explore and find something new?</h3>
                    <div class="l-intro-content__buttons">
                        <a href="#" class="btn btn-login">Explore</a>
                        <a href="/logout" class="btn btn-signup">Log Out</a>
                    </div>
                <% } %>
            </div>
        </section>
        <!-- INTRO SECTION | END -->

        <!-- ABOUT / SERVICES | START -->
        <section class="l-services">
            <h3 class="l-services__heading">Why to read and buy from Comicbook?</h3>
            <h4 class="l-services__sub-heading">We offer comic books. We offer quality, quality only. Check it for yourself!</h4>
            <div class="service-boxes">
                <div class="service-box">
                    <i class="icon ion-ios-book service-box__icon"></i>
                    <h3 class="service-box__heading">A lot of comics</h3>
                    <p class="service-box__text">Find the comics you love. Comicbook offer comics from publishers and creators such as Marvel, DC Comics, Dark Horse and more.</p>
                </div>
                <div class="service-box">
                    <i class="icon ion-ios-done-all service-box__icon"></i>
                    <h3 class="service-box__heading">Reliable reviews</h3>
                    <p class="service-box__text">We gather reviews from users that bought and read comics from Comicbook. Each review is checked for  it's authenticity and then deliverd to users.</p>
                </div>
                <div class="service-box">
                    <i class="icon ion-ios-lock service-box__icon"></i>
                    <h3 class="service-box__heading">Secure purchase</h3>
                    <p class="service-box__text">Pay your way. Feel safe while paying for your favorite comics. Not satisfied with your purchase? We offer refunds!</p>
                </div>
            </div>
        </section>
        <!-- ABOUT / SERVICES | END -->

        <!-- SIMPLE AS SECTION | START -->
        <section class="l-simple-as">
            <div class="l-simple-as-content">
                <h2 class="l-simple-as-content__text">Search. Preview. Buy. Enjoy.</h2>
            </div>
        </section>
        <!-- SIMPLE AS SECTION | END -->

        <!-- PARTNERS SECTION | START -->
        <section class="l-partners">
            <div class="l-partners-content">
                <a href="https://www.paypal.com" target="_blank"><img data-lazy="../../img/pp-logo.png" alt="PayPal Logo" class="l-partners-content__img-1"></a>
                <a href="https://www.marvel.com" target="_blank"><img data-lazy="../../img/marvel-logo.png" alt="Marvel Logo" class="l-partners-content__img-2"></a>
                <a href="https://www.dccomics.com" target="_blank"><img data-lazy="../../img/dc-logo.png" alt="DC Comics Logo" class="l-partners-content__img-3"></a>
                <a href="https://www.darkhorse.com" target="_blank"><img data-lazy="../../img/darkhorse-logo.jpg" alt="Dark Horse Comics Logo" class="l-partners-content__img-4"></a>
            </div>
        </section>
        <!-- PARTNERS SECTION | END -->

        <!-- IMPLEMENTING FOOTER -->
        <% include ../partials/footer.ejs %>
    </div>

</body>
</html>