<!-- NAVIGATION | START -->
    <div class="secondary-nav-wrap">
        <div class="secondary-nav mini-second-nav">
            <nav role="navigation" class="top-menu">
                <a href="/" class="logotype">COMIC<span>BOOK</span></a> <!-- LOGO -->
                <form action="/shop" class="search-form mini-search-form">
                    <input type="text" name="search" class="search-form__input" placeholder="Search Comics, Issues . .">
                    <button type="submit" class="search-form__button"><i class="icon ion-ios-search search-form__icon"></i></button>
                </form>
            </nav>
            <div class="top-nav">
                <% if (!currentUser) { %>
                    <a href="/user-profile" class="top-nav__link">My Profile</a>
                    <a href="/shop" class="top-nav__link">Shop</a>
                    <a href="/contact" class="top-nav__link">Contact</a> 
                    <a href="/login" class="top-nav__link top-nav__auth-li">Log In</a>
                    <a href="/signup" class="top-nav__link top-nav__auth-su">Sign Up</a>
                <% } else { %>
                    <a href="/user-profile" class="top-nav__link"><%= currentUser.username %></a>
                    <a href="/shop" class="top-nav__link">Shop</a>
                    <a href="/contact" class="top-nav__link">Contact</a> 
                    <a href="/logout" class="top-nav__link top-nav__auth-lo">Log Out</a>
                <% } %>
            </div>
        </div>
    </div>
<!-- NAVIGATION | END -->